.navbar {
    background: rgba(120, 120, 120, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    z-index: 1;
}

.navbar-toggler {
    background-color: #8144f2 !important;
}

#navbarNav .nav-link:hover,
.navbar-brand:hover {
    color: #9870e3 !important;
}