input {
    background: rgba(116, 116, 116, 0.435);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    transition: all .2s ease-in-out;
}

input:hover {
    box-shadow: 0px 0px 9px 8px rgba(206, 206, 206, 0.272);
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

input:focus {
    background: rgba(42, 38, 60, 0.735);
    box-shadow: 0px 0px 9px 8px rgba(206, 206, 206, 0.163);
    outline: 1px solid #9870e3;
}