input {
    background: rgba(5, 1, 11, 0.289);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
}

input:focus {
    background: rgba(16, 5, 58, 0.502);
    
}